*{
    margin: 0px;
    padding: 0px;
    
}
body{
    background-color: teal;
    
}
.container{
    margin-top: 4vmin;
    
}
.clockContainer{
    position: relative;
    margin: auto;
    /* background-color: red; */
    height: 92vmin;
    width: 92vmin;
    /* background: url(clock1.png) no-repeat; */
    /* background-size: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}

#hour, #minute, #second{
    background: rgb(255, 255, 255);
    /* border-radius: 50%; */
    margin: 2.5%;
    border-radius: 15%;
    text-align: center;
    font-size: 400%;
    padding-top: 5%;
    padding-bottom: 5%;
    /* display: none; */
}
#hour{
    width: 20%;
    height: auto;
    opacity: 1;
    /* transform-origin: bottom; */
}
#minute{
    width: 20%;
    height: auto;
    /* opacity: 0.75; */
    /* transform-origin: bottom; */
    /* display: none; */
}
#second{
    width: 20%;
    height: auto;
    /* opacity: 0.5; */
    /* transform-origin: bottom; */
    /* display: none; */
}
#brand{
    color: white;
    position: absolute;
    top: 70%;
    left: 43.4%;
}

