*{
    margin: 0px;
    padding: 0px;
    
}
body{
    background-color: teal;
    
}
.container{
    margin-top: 4vmin;
    
}
.clockContainer{
    position: relative;
    margin: auto;
    /* background-color: red; */
    height: 92vmin;
    width: 92vmin;
    /* background: url(clock1.png) no-repeat; */
    /* background-size: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}
.tittle{
    position: absolute;
    top: 18%;
    left: 30%;
    font-size: 50px;
    color: aquamarine;
}
#hour, #minute, #second{
    width: 300px;
    height: 140px;
    /* background: white; */
    border-radius: 1%;
    margin: 2.5%;
    border: 5px solid aquamarine;
    text-align: center;
    font-size: 600%;
    padding-top: 50px;
    padding-bottom: 50px;
    /* display: none; */
}
#hour{
    /* width: 20%; */
    /* transform-origin: bottom; */

}
#minute{
    /* width: 20%; */
    /* opacity: 0.75; */
    /* transform-origin: bottom; */
    /* display: none; */

}
#second{
    /* width: 20%; */
    /* opacity: 0.5; */
    /* transform-origin: bottom; */
    /* display: none; */

}
#hd, #md, #sd{
    position: absolute;
    width: 28.33%;
    background: aquamarine;
    /* border-radius: 10%; */
    /* border-radius: 15%; */
    /* text-align: center; */
    /* font-size: 600%; */
    /* padding-top: 5%; */
    /* padding-bottom: 5%; */
    /* display: none; */
    z-index: -1;
}
#hd{
    bottom: 33.5%;
    left: 2.5%;
}
#md{
    bottom: 33.5%;
    left: 35.83%;
}
#sd{
    bottom: 33.5%;
    left: 69.16%;
}
